<%= render "layouts/header" %>

<div class = "pure-g">

	<div class = "pure-u-1 container">
		<h1> <%= @project.title %> </h1>

		Genre: <%= @project.genre %><br>
		Description: <%= @project.description %> <br>
		Dates: <%= @project.dates %><br>
		Location: <%= @project.location %><br>
		Producer: <%= @producer.name %><br>

		<h2> Roles </h2>

		<div class = "pure-u-1-3">
			<h2> Cast </h2>

			<% @project.roles.each do |r| %>

				<p>

				<% if r.cast == true %>
					<%= r.title %> 

						<% if r.user_id == nil %>
						"uncast"
						<% else %>
						<% @user = User.find(r.user_id) %> <%= @user.name %>
						<% end %>

						<%= form_for(r) do |f| %>
							<%= f.text_field :user_id, placeholder: "Choose an actor" %>
							<%= f.submit "Cast!", class: "pure-button" %>
						<% end %>


				<% end %> </p>
			<% end %>

		</div>

		<div class = "pure-u-1-3">
			<h2> Crew </h2>
			<% @project.roles.each do |r| %>

				<p>
				<% if r.cast == false %>
					<%= r.title %> 

						<%= form_for(r) do |f| %>
							<%= f.text_field :user_id, placeholder: "Choose a crewmember" %>
							<%= f.submit "Hire!", class: "pure-button" %>
						<% end %>

				<% end %> </p>
			<% end %>

		</div>



		<% if signedin? && current_user == @producer_id %>

			<h2> <%= link_to "Edit this project", edit_project_path(@project) %></h2>

			<h3> Add Roles </h3>

			<%= form_for(@role) do |f| %>
				<%= f.text_field :title, placeholder: "Role title" %>
				<%= f.hidden_field :id, value: @project.id %>
				<%= f.radio_button :cast, true %>
				<%= f.label "Cast?" %>
				<%= f.radio_button :cast, false %>
				<%= f.label "Crew?" %>
				<%= f.submit "Add role", class: "pure-button" %>
			<% end %>

			<h2> <%= link_to "Add audition slots", new_audition_path %> </h2> 

		<% elsif signedin? %>

			<!-- <h2> <%= link_to "Sign up for auditions!", new_audition_path %> </h2> --> 



		</div>

	<% end %>
</div>