 <%= render "layouts/header" %>

<div class = "pure-g">

	<div class = "pure-u-1 container">
		<h1> Editing fun! </h1>

		<div class = "pure-form">
	
			<%= form_for @interest, url: user_path do |f| %>
			
			<h3>What are your interests?</h3>

			<%= f.hidden_field :id, value: @me.id %>
			<!-- TAKE A LOOK AT THIS ^^ -->

			<%= f.label "acting" %>
			<%= f.check_box :acting %>

			<%= f.label "directing" %>
			<%= f.check_box :directing %>


			<%= f.label "editing" %>
			<%= f.check_box :editing %>


			<%= f.label "costumes" %>
			<%= f.check_box :costumes %>


			<%= f.label "cinematography" %>
			<%= f.check_box :cinematography %>


			<%= f.label "camerawork" %>
			<%= f.check_box :camerawork %>


			<%= f.label "sound" %>
			<%= f.check_box :sound %>



			<%= f.submit "Save Changes", class: "button-signup pure-button" %>
			<% end %>










		</div>

		


	</div>
</div>



